**/**/*.swp
**/**/*.o
**/**/*.a
*clion
*.out
*.sh
*debug/
**/**/*.xml
**/**/*.txt
**/**/*.md
**/**/*.cpp
**/**/*.cmake
**/**/*.bin
*cmake-build-debug/*
*idea/*
*.xml
.idea/
.DS*
cmake-build-debug/
dgonor/
